
@font-face{
    font-family: "medium";
    src: url('../assets/font/Vazir.woff');
}
@font-face{
    font-family: "bold";
    src: url('../assets/font/Vazir-Bold.woff');
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
#map{
    height: 100%;
    width: 100%;
    position: fixed !important;
    z-index: 1;
}

#sideBar{
    position: fixed;
    right: 0;
    z-index: 9;
    width: 32%;
    height: 100vh;
    

}
#profileBTN{
   
    background-image: url("../assets/img/profile\ avatar.svg");
    background-size: 100%;
    margin-top: 2vh;


}
#upcomingBTN{
    margin-top: 2vh;
    background-image: url("../assets/img/upcoming.svg");

}
#friendBTN{
    background-image: url("../assets/img/friends\ list.svg");
}
#pendingReqBTN{
    background-image: url("../assets/img/pending\ requests.svg");
}
#setMeetingBTN{
    background-image: url("../assets/img/add.svg");
}
#fullScrBTN{
    background-image: url("../assets/img/inner-outer.svg");
    bottom: 2vh;
    position: fixed;
    background-size: 60%;
}

.closedMenu{
    right: -15em !important;
}
.hidden{
    height: 0 !important;
}

.sideBTN{
    border-radius: 100%;
    border: none;
    position: relative;
    width: 6em;
    height: 6em;;
    padding: 0;
    right: 0.5em;
    margin-top: -1vh;
    float: right;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: right 1s cubic-bezier(0.5, -0.4, 0.5, 1.5);
    outline: none;
    
}

/****************************************************/
#signInPage{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-image: url('../assets/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#uidForm{
    width: 100%;
    height: 80vh;
}
#formLogo{
    width: 100%;
    height: 30%;
    margin-top: 12vh;
    background-image: url('../assets/img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
#formPhrase{
    direction: rtl;
    text-align: center;
    margin-top: 5vh;
    color: white;
    padding-bottom: 2vh;
    border-bottom: 1px solid whitesmoke;
    width: 94%;
    margin-left: 3%;
    font-family: "medium";
    font-weight: 600;
}

#phoneInput{
    height: 30vh;
    padding-top: 4vh;
}
#phoneInput > :first-child{
    width: 14%;
    color: white;
    background-color: rgba(41, 44, 130, .8);
    height: 7vh;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    font-size: 5vh;
    float: left;
    margin-left: 5%;
    font-family: "bold";
}

#phoneNo{
    width: 66%;
    height: 8vh;
    border: none;
    border-radius: 10px;
    background-color: rgba(41, 44, 130, .8);
    float: right;
    margin-right: 5%;
    outline: none;
    color: white;
    font-size: 5vh;
    font-family: "bold";
    padding-top: 1vh;
    padding-left: 4%;
}

.submitBTN{

    width: 30%;
    height: 10vh;
    margin-top: 4vh;
    margin-left: 14%;
    border: none;
    color: white;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#submitPhone{
    background-image: url(../assets/img/send-fa.png);
}

#carousel{
    position: fixed;
    width: 30%;
    height: 4vh;
    left: 35%;
    text-align: center;
}

#carousel i{ 
    color: white;
    margin: 1vh;
    border: 1px solid #29abe2;
    border-radius: 100%;
}

.blueDot{
    color: #29abe2;
}