
@font-face{
    font-family: "medium";
    src: url('../assets/font/Vazir.woff');
}
@font-face{
    font-family: "bold";
    src: url('../assets/font/Vazir-Bold.woff');
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
#map{
    height: 100%;
    width: 100%;
    position: fixed !important;
    z-index: 1;
}

#sideBar{
    position: fixed;
    right: 0;
    z-index: 9;
    width: 32%;
    height: 100vh;
    

}
#profileBTN{
   
    background-image: url("../assets/img/profile\ avatar.svg");
    background-size: 100%;
    margin-top: 2vh;


}
#upcomingBTN{
    margin-top: 2vh;
    background-image: url("../assets/img/upcoming.svg");

}
#friendBTN{
    background-image: url("../assets/img/friends\ list.svg");
}
#pendingReqBTN{
    background-image: url("../assets/img/pending\ requests.svg");
}
#setMeetingBTN{
    background-image: url("../assets/img/add.svg");
}
#fullScrBTN{
    background-image: url("../assets/img/inner-outer.svg");
    bottom: 2vh;
    position: fixed;
    background-size: 60%;
}

.closedMenu{
    right: -15em !important;
}
.hidden{
    height: 0 !important;
}

.sideBTN{
    border-radius: 100%;
    border: none;
    position: relative;
    width: 6em;
    height: 6em;;
    padding: 0;
    right: 0.5em;
    margin-top: -1vh;
    float: right;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: right 1s cubic-bezier(0.5, -0.4, 0.5, 1.5);
    outline: none;
    
}

/****************************************************/
#signInPage{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-image: url('../assets/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#uidForm{
    width: 100%;
    height: 80vh;
    transition: left 1s cubic-bezier(0.5, -0.4, 0.5, 1.5);
    position: fixed;
    left: 0;
    display: block;

}
#formLogo{
    width: 100%;
    height: 30%;
    margin-top: 12vh;
    background-image: url('../assets/img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
    
}
#formPhrase1{
    margin-top: 5vh;
}
#formPhrase2{
    margin-top: 32vh;
}

.formPhrase{
    direction: rtl;
    text-align: center;
    color: white;
    padding-bottom: 2vh;
    border-bottom: 1px solid whitesmoke;
    width: 94%;
    margin-left: 3%;
    font-family: "medium";
    font-weight: 600;
    
}

#phoneInput{
    height: 30vh;
    padding-top: 4vh;
    left:0vh;
    
}
#phoneInput > :first-child{
    width: 14%;
    color: white;
    background-color: rgba(41, 44, 130, .8);
    height: 7vh;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    font-size: 5vh;
    float: left;
    margin-left: 5%;
    font-family: "bold";
}

#phoneNo{
    width: 66%;
    height: 8vh;
    border: none;
    border-radius: 10px;
    background-color: rgba(41, 44, 130, .8);
    float: right;
    margin-right: 5%;
    outline: none;
    color: white;
    font-size: 5vh;
    font-family: "bold";
    padding-top: 1vh;
    padding-left: 4%;
}

.submitBTN{

    width: 30%;
    height: 10vh;
    margin-top: 4vh;
    border: none;
    color: white;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#submitPhone{
    background-image: url(../assets/img/send-fa.png);
    left: 35%;
    position: fixed;
    margin-top: 12vh;
}

#carousel{
    position: fixed;
    width: 30%;
    height: 4vh;
    left: 35%;
    text-align: center;
    bottom: 4vh;
}

#carousel i{ 
    color: white;
    margin: 1vh;
    border: 1px solid #29abe2;
    border-radius: 100%;
}

.blueDot{
    color: #29abe2 !important;
}

#verifyForm{
    left: -100vh;
    position: fixed;
    width: 100%;
    display: none;
    transition: left 1s cubic-bezier(0.5, -0.4, 0.5, 1.5);
}

#verificationInput{
    width: 80%;
    background-color: rgba(41, 44, 130, .8);
    height: 8vh;
    border: none;
    border-radius: 1vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4vh;
}

#verificationInput input{
    border: none;
    width: 9ch;
    background: 
      repeating-linear-gradient(90deg, 
          white 0, 
          white 1ch, 
          transparent 0, 
          transparent 1.5ch) 
        0 100%/100% 2px no-repeat;
    color: white;
    font: 1ch consolas, monospace;
    letter-spacing: .5ch;
    margin-left: 25%;
    margin-top: 2%;
}
#submitVC{
    background-image: url('../assets/img/confirm-fa.png');
    margin-left: 35%;
    margin-top: 8vh;
}

input:focus {
    outline: none;
    color: white;
}

#countDown{
    width: 20%;
    float: left;
    font-size: 2vh;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 12%;
    color: #ffb700;
    font-family: bold;
}

#resendVC{
    color:rgba(255, 183, 0, 0.5);
}

/****************************************/

#infoForm{
    position: fixed;
    width: 100%;
    left: 0;
    display: none;
}

#chooseAvatar{
    width: 16em;
    height: 16em;
    border: none;
    border-radius: 100%;
    padding: 0;
    outline: none;
    background-color: transparent;
    background-image: url('../assets/img/addAvatar.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#infoForm input{
    width: 80%;
    height: 7vh;
    border: none;
    text-align: center;
    background-color: rgba(41, 44, 130, .8);
    margin-left: 10%;
    margin-top: 4vh;
    border-radius: 10px;
    font-family: "Bold";
    font-size: 4vh;
    color: white;
}

#infoForm input::placeholder{
    color: white;
    font-family: "bold";
    font-size: 4vh;
}

#infoForm input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

#formPhrase3{
    margin-top: 2vh;

}

#submitInfo{
    background-image: url('../assets/img/confirm-fa.png');
    margin-left: 35%;
}

/*********************************************/


.menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 99;
    background-color: #eeeeee;
    display: block;
}

.saveANDdiscard{
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;

}
.YNButton{
    width: 50%;
    padding: 0;
    border: 0;
    height: 100%;
    color: #4d4d4d;
    background-color: #b3b1c5;
    font-family: "medium";
    font-size: 3vh;
    float: left;
}

.formInput{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #999999;
    border-radius: 6px;
    height: 6vh;
    text-align: center;
    margin-top: 1vh;
    color: #666;
    font-family: "medium";
    font-size: 3vh;
    font-weight: 600;
    background-color: #eeeeee;
    outline: none;
}

#showMyGeoPhrase{
    height: 26px;
    width: 50%;
    float: left;
    margin-top: 4vh;
    margin-left: 10%;
    position: relative;
    font-family: "medium";
    font-size: 4vh;
    color: #808080;
}

#profileMenu{
    right: 0;
    transition: right 0.5s cubic-bezier(0.5, -0.4, 0.5, 1.5);
}

/*********************************************/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10%;
    float: right;
    margin-top: 4vh;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
/* The slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #666666;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider.round:before {
    background-color: #29abe2;
  }
  
  input:focus + .slider {
   
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*********************************************/  